
PORT=5000
MONGO_URI=your_mongodb_uri
JWT_SECRET=secret

PHONEPE_MERCHANT_ID=
PHONEPE_SALT_KEY=
PHONEPE_SALT_INDEX=1
PHONEPE_BASE_URL=https://api-preprod.phonepe.com/apis/pg-sandbox

RAZORPAY_KEY=
RAZORPAY_SECRET=

FRONTEND_URL=http://localhost:5173
